<header class="sf-header">
    <div class="sf-brand">
        <img src="lib/images/SchulFunk-Logo.png" alt="SchulFunk Logo" class="sf-logo" />

        <div class="sf-brand-text">
            <h1>
                Schul<span>Funk</span>
            </h1>

        </div>
    </div>

    <nav class="sf-navbar">
        <NavLink href="#umfragen" class="sf-nav-button sf-nav-button-dark">
            Umfragen ansehen
        </NavLink>

        <NavLink href="/news" class="sf-nav-button">
            Aktuelle Nachrichten
        </NavLink>

        <NavLink href="#einstellungen" class="sf-nav-button sf-settings-button">
            <img src="lib/images/Icon-User.png" alt="" />
            Einstellungen
        </NavLink>
    </nav>
</header>